@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* définition de la font root */
html {
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
}

body {
    width: 100%;
    display: grid;
    grid-template-rows: minmax(5rem, auto) 1fr minmax(5rem, auto);
}

#site-header>*,
#site-footer>* {
    color: rgba(255, 255, 255, .70);
}

#site-header,
#site-footer {
    background-color: rgba(0, 0, 0, 70);
}

#site-header form input {
    background-color: rgb(225, 229, 233);
}

main .container .row .movie-title {
    font-family: 'Dosis', sans-serif;
    font-size: .90rem;
    text-transform: uppercase;
    font-weight: bold;
}

.home .poster {
    position: relative;
}

.home .poster::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#797474dc, #5f5a5a9f);
    display: none;
}

.home .poster:hover::after {
    display: block;
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.mv-details{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}

.poster:hover .mv-details {
    display: block;
}

span.icon {
    display: block;
    width: 2rem;
    height: 2rem;
    border: 1px solid;
    border-radius: 50%;
    position: relative;
}

span.icon .fas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.single h1, 
.single h2,
.single p {
    font-family: 'Dosis', sans-serif;
}

.similar div a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}

.slick-next.slick-arrow, .slick-prev.slick-arrow  {
    color: black;
}

.slick-track{
    display: flex;    
}
.slick-track .slick-slide{
    display: flex;
    height: auto;
}

.slick-track .slick-slide .btn {
    background-color:#BB2D3B;
    color: white;
}

.slick-track .slick-slide {
    position: relative;
}

.slick-track .slick-slide p {
    position: absolute;
    font-family: 'Dosis', sans-serif;
}

.slick-track .slick-slide p:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
}

.slick-track .slick-slide:hover p:nth-child(2) {
    display: block;
}


.slick-track .slick-slide p:nth-child(3){
    bottom:0;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.691);
    padding: 8px;
    color: white;
    border-radius: 8px;
    z-index: 1;
}


.slick-track .slick-slide::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#797474dc, #5f5a5a9f);
    display: none;
    z-index: 1;
}

.slick-track .slick-slide:hover::after {
    display: block;
    animation: fadeIn ease 1s;
    z-index: 1;
}
